[2021-02-23 23:02] GanbaruTobi opened #19 "Findings"
json-smart in both variants, json-smart-v1 and json-smart-v2, have an uncaught exception in the parser, which can lead to problems like DoS in webserver etc.

CVE-2021-27568

https://github.com/netplex/json-smart-v1/issues/7
https://github.com/netplex/json-smart-v2/issues/60

[2021-02-24 13:26] mauricioaniche opened #21 "Error when running the tool"
Hi, all!

I am experimenting with jazzer, but so far I could not run it.

I try something simple as:

[code]

But I get this output from the tool:

[code]

I tried with java 8 and 11, but I get the same error. I'm on a Mac OS 10.15.7.

I am not really knowledagble in Bazel, so I might be making a novice mistake here.

Any ideas?

[2021-02-24 13:42] fmeum commented on #21
Thanks for your interest in Jazzer!

Could you specify which version of Bazel you are using? Have you tried using the bazelisk binary included in the repository?

Please note that we haven't tried running Jazzer on macOS yet. But since we want to support it eventually, I'm happy to help with any errors you should encounter.

[2021-02-26 17:21] fmeum commented on #19
Hey, thanks for your interest in Jazzer and for sharing your findings with it! I will update the findings list.

For the future: If you decide that a bug you find should be considered a vulnerability, please disclose it only after the maintainers of the affected project have fixed the issue (or at least had a reasonable amount of time to do so).

[2021-02-26 17:31] #19 closed

[2021-02-26 17:33] fmeum commented on #21
I have picked up work on macOS compatibility. With https://github.com/CodeIntelligenceTesting/jazzer/pull/22, you should be able to run most of the examples just fine.

[2021-02-26 19:26] GanbaruTobi commented on #19
Indeed. Provided a fix for them.

[2021-03-24 10:56] #21 closed

[2021-03-26 07:50] schirrmacher opened #55 "ClassVisitor throws IllegalArgumentException: Unsupported api"
I try to apply Jazzer for a Spring Boot project which has many dependencies. I created a fat Jar file with the ShadowJar plugin so that every dependency can be accessed by Jazzer when executing `./jazzer`. Besides, dependencies and my fuzz tests are written in Kotlin (1.4.31), for building I'm using Gradle (6.8.3).

Unfortunatley exceptions are thrown for every instrumented class, like:

[code]

I

[2021-03-26 09:30] schirrmacher commented on #55
Ok, there was an issue with duplicate asm versions used by dependencies.

I solved it by shadowing:
[code]

[2021-03-26 10:39] fmeum commented on #55
Thanks for the bug report. It should not be on the user to apply shading here, so I have drafted PR #56 that would shade the dependencies on our side. Could you try whether this is fixed with the `jazzer_agent_deploy.jar` built with that PR via the command:
[code]

[2021-03-28 19:07] #55 closed

[2021-04-07 22:02] eustas opened #64 "v0.9.1 does not build on OSX"
Bazel output:
[code]

[2021-04-07 22:07] eustas opened #65 "3 tests fail on master on OSX"
Bazel report:
[code]

`ExampleFuzzerWithNative` and `ExampleStackOverflowFuzzer` fail with `Unexpected exit code: 139` and no other useful output.

`JpegImageParserFuzzer` really starts fuzzing, discovers `java.lang.NegativeArraySizeException` and then fails with `Unexpected exit code: 0`

[2021-04-08 06:36] fmeum commented on #64
macOS support is not yet included in any release (there are also no release binaries for it), but it should work on `main`. Given that you filed #65, can I assume it also works for you?

[2021-04-08 06:44] fmeum commented on #65
I can reproduce all these test failures in the CI, which is why these tests are currently not run automatically for macOS.

Let me elaborate a bit on why they fail so that we can turn this issue into a tracking bug:

- `ExampleFuzzerWithNative` seems to fail purely because of Bazel's inability to create correctly named shared libraries on macOS (`.dylib` instead of `.so`). Fixing this is not a hig

[2021-04-08 07:46] eustas commented on #64
Correct.

[2021-04-08 07:48] eustas commented on #64
Given that osx is mentioned in "using" section in readme I was under impression it is supported (builds on some release).

Nevermind, feel free to close this bug.

[2021-04-08 07:58] eustas commented on #65
Simply marking tests with tag does not prevent them from execution (I just run `bazel test ...:all`).
Perhaps it is better to have something like `BROKEN_ON_DARWIN_TAG` variable that is used as tags on broken tests. This variable itself should be assigned using selector and contains empty list by default, but is equal to `['manual']` if platform is darwin.

If you like, I can prepare PR for that.

[2021-04-08 08:06] fmeum commented on #65
That would be highly appreciated. Our CI pipeline is still quite simplistic and I don't have access to physical macOS devices atm.

[2021-04-08 09:05] eustas commented on #65
Oops, not so simple. Currently "tags" is not configurable, as is was easier to implement. Now Bazel team has not enough man/will-power to fix it. The glorified "platforms" approach is not yet ready to be used,... not until Bazel 5.0 at least.

So, the only remaining solution would be to pass the parameter to `fuzz_target_test_wrapper.sh`. It is much less elegant, but still viable. Will try that to

[2021-04-10 14:17] #64 closed

[2021-04-19 20:15] chrismgrayftsinc opened #79 "Jazzer does not use libc++"
I tried adding jazzer test rules as a http_archive to my WORKSPACE file:

[code]

and then using `java_fuzz_target_test` as a test in one of my BUILD files
[code]

However, it seems that `java_fuzz_target_test` adds dependencies on internal targets (e.g. `//agent/src/main/java/com/code_intelligence/jazzer/api`), which means that it can't be used in this way.

FWIW, I also suggested that jazzer rul

[2021-04-20 16:02] fmeum commented on #79
Indeed, the current macro is mostly meant for regression testing within Jazzer.

I am quite interested in proper rules_fuzzing though and will see what I can contribute to it.

[2021-04-28 06:32] fmeum opened #86 "Rare coverage ID sync failures"
As reported by ClusterFuzz, coverage IDs can become desynchronized between child processes in fork mode. I attached a log obtained from the `ValidJsonFuzzer` fuzzer of the `json-sanitizer` project.

@sebastianpoeplau Could you review https://github.com/CodeIntelligenceTesting/jazzer/blob/main/agent/src/main/java/com/code_intelligence/jazzer/agent/CoverageIdStrategy.kt again for potential synchroni

[2021-05-05 07:46] fmeum commented on #86
I merged #92, which in hindsight is a pretty big omission that could easily result in the kind of issues we are seeing. It will take about two weeks before we can be sure we fixed the bug though, so please let me know if you find anything else.

[2021-05-05 10:40] sebastianpoeplau commented on #86
Nice catch! I'm wondering if there's a lighter-weight solution though: The description of the `force` method sounds as if it corresponded to `fsync` on Linux. But we don't actually need to make the kernel persist changes on disk, do we? It should be enough to ensure that there is no application-level buffering, or at least that the buffers are flushed. In other words, any caching performed by the

[2021-05-05 11:22] fmeum commented on #86
I haven't found any other way to flush a `FileChannel` though. Maybe they are flushed automatically on the application level? If so, this will not fix the issue and we will notice.

In any case, the potential performance overhead only applies to the event of a new class being loaded, which is rare after initialization.

[2021-05-05 14:32] sebastianpoeplau commented on #86
Makes sense. So let's just wait a bit to see whether the issue is fixed :)

[2021-05-05 15:19] MargeD558 opened #95 "Failed to test Spring boot project"
I tried to test a Spring boot project with Jazzer, but it can not get spring context.

Does Jazzer support testing Spring boot projects? Is there a demo?

[2021-05-06 08:01] fmeum commented on #95
While Jazzer by itself is mainly suited for fuzzing libraries, our commercial platform [CI Fuzz](https://www.code-intelligence.com/product-tour), which builds on Jazzer, can fuzz entire web apps and also detect web-specific vulnerabilities.

[2021-05-06 08:01] #95 closed

[2021-05-07 14:38] fmeum opened #97 "Adjust the JVM heap size with the `rss_limit_mb`"
I thought about this as well, but are users more likely to change `rss_limit_mb` or `-Xmx` via `jvm_args`? I would have guessed the latter, but am not sure. We would probably have to parse both and warn if they conflict, but that requires quite a bit of logic. What do you think?

_Originally posted by @fmeum in https://github.com/CodeIntelligenceTesting/jazzer/issues/93#issuecomment-834127882_

[2021-05-11 14:03] fmeum opened #99 "Classes in named Java 9 modules can't be instrumented"
Instrumenting internal classes outside the default module (e.g., java.desktop) is tricky as of Java 9: As the agent runs in a context that is not module-aware, it can't export `CoverageMap` to other modules. This leads to `NoClassDefFound` exceptions when classes from other modules are instrumented.

In order to work around this, we may have to split the `runtime` package off and turn it into a pr

[2021-05-12 08:02] fmeum commented on #86
The first OSS-Fuzz issue regarding sync failures has been closed as Won't Fix today. Will close this issue if the second one should also no longer reproduce.

[2021-05-12 10:35] #99 closed

[2021-05-15 14:15] ningxie1991 opened #103 "@local_jdk is not found when running in Ubuntu on Windows 10"
Hello, I am trying to run the example, however, after setting local jdk to JAVA_HOME I am still getting the warning and bazel could not find my local jdk. I couldn't find any solutions online. Please help.

`nxie@LAPTOP-8Q6L74UG:/mnt/c/users/ningx/dev/github/jazzer$ bazel run //:jazzer
WARNING: Ignoring JAVA_HOME, because it must point to a JDK, not a JRE.
Starting local Bazel server and connectin

[2021-05-15 15:50] fmeum commented on #103
Everything runs and tests fine for me on Windows with Ubuntu 20.04 and the `openjdk-16-jdk` package installed. Is it possible that you have a JRE installed, but no JDK?

[2021-05-15 16:38] ningxie1991 commented on #103
Hi Fabian,
Thanks for the reply. I tried installing openjdk-15-jdk and clone the jazzer source again to my home path, then it's working now. However, there's another error now:
"clang-12: error: unknown argument: '-fno-canonical-system-headers' "

nxie@LAPTOP-8Q6L74UG:/usr/local/bin$ gcc -version
gcc: error: unrecognized command line option ‘-version’
gcc: fatal error: no input files

[2021-05-15 16:49] fmeum commented on #103
Could you check whether you still see this error after a `bazel clean --expunge`?

[2021-05-15 16:55] ningxie1991 commented on #103
That solved the problem. Thank you!

[2021-05-15 16:55] #103 closed

[2021-05-18 05:00] fmeum commented on #86
The second one has been closed today. Glad to see this issue is gone.

[2021-05-22 10:21] fmeum commented on #86
Not gone, just occured in `protobuf-java`.

[2021-05-23 09:38] LandGrey opened #116 "Undocumented build issues on macOS"
same to [issue-21](https://github.com/CodeIntelligenceTesting/jazzer/issues/21)

MacOS version
[code]

java -version
[code]

bazel --version
[code]

clang --version
[code]

run :
[code]

 error:
[code]

[2021-05-23 10:14] fmeum commented on #116
Thanks for the detailed report!

It looks like your version of Bazel is behind the most recent one by two major versions. Could you try using Bazelisk https://github.com/bazelbuild/bazelisk/releases/tag/v1.9.0 to automatically install the required release 4.1.0 or just install it manually?

[2021-05-23 11:48] LandGrey commented on #116
yeah, I downloaded https://releases.bazel.build/4.1.0/release/bazel-4.1.0-darwin-x86_64 and
run again :
[code]
there maybe error again [issue-64](https://github.com/CodeIntelligenceTesting/jazzer/issues/64):

[code]

[2021-05-23 11:52] fmeum commented on #116
Could you try adding the flag `--//third_party/jni:jdk_8` after `run`?

Alternatively, you can use a newer JDK (e.g. 15).

[2021-05-23 12:26] LandGrey commented on #116
I try this:
[code]
there output others error:
[code]

[2021-05-23 12:40] fmeum commented on #116
Which version of clang and XCode are you using? `asm goto` requires at least clang 9.

[2021-05-23 12:42] LandGrey commented on #116
clang --version

[code]

[2021-05-23 12:51] fmeum commented on #116
`asm goto` is supported as of clang 9, so that should work. Maybe Bazel detects an older version of Xcode/clang and uses that? You could set `CC` to the full path of that clang 11 before invoking Bazel and see whether that helps.

Sorry that this is so difficult for you. I don't have access to a Mac myself and everything runs fine in the GitHub Actions pipeline on macOS 10.15, so I can't debug the

[2021-05-23 13:02] LandGrey commented on #116
Thank you for your patience. I would try again.

[2021-05-23 13:12] LandGrey commented on #116
I modify `.bazelrc` file, change
[code]
to clang absolute path
[code]
There are same errors output.

[2021-05-23 13:20] fmeum commented on #116
I see that you are using Xcode 11. I don't know why, but that may be the issue according to https://stackoverflow.com/a/64341856. Can you update to Xcode 12 and ensure that its command-line tools are used as described in the comments to that answer?

[2021-05-23 13:27] LandGrey commented on #116
I will try maybe later.

[2021-05-24 07:24] LandGrey commented on #116
I reinstall xcode 12, and there's no `error: 'asm goto' constructs are not supported yet` error.

but still output:
[code]
then I add `--agent_path` flag
[code]

still remain:
[code]

[2021-05-24 07:29] fmeum commented on #116
The `--agent_path` needs to point to the `jazzer_agent_deploy.jar`, not the `jazzer_api_deploy.jar`. Does that work for you?

`//:jazzer` should set the `--agent_path` for you, so this failure is somewhat unexpected. Once we get it to work, I will look into this.

[2021-05-24 07:35] LandGrey commented on #116
sorry, I change to `jazzer_agent_deploy.jar`，error output:
[code]

[2021-05-24 07:46] fmeum commented on #116
This has been fixed in https://github.com/CodeIntelligenceTesting/jazzer/commit/2b93d5799f2a676c12212a93cdf545077ac99142#diff-44220d2c982a1ee0621b41e8eb042cda4f6b94f794a343a177fc531be4d4f944. Try `git pull` and run the command again with latest `master`.

[2021-05-24 08:05] LandGrey commented on #116
I am use `--agent_path` flag specify releases [v0.9.1](https://github.com/CodeIntelligenceTesting/jazzer/releases/tag/v0.9.1) jazzer_agent_deploy.jar.
If I not use `--agent_path` flag, there are output tips
[code]
so, I am use latest code, but there are not found latest `jazzer_agent_deploy.jar`

[2021-05-24 09:04] fmeum commented on #116
Sorry, I meant that the Java exception you are seeing would be solved by that commit, not the missing agent.

You can (and should) always build Jazzer from its most recent commit as that's what is running in OSS-Fuzz. Our releases always lag behind quite a bit unfortunately.

[2021-05-24 12:27] Pertence opened #117 "Jazzer documentation"
I have a question, where can I find the documentation about the arguments that the jazzer program can take?

[2021-05-24 12:55] fmeum commented on #117
First of all, Jazzer accepts all arguments that libFuzzer accepts (those starting with a single dash).

The arguments it supports on top of that are mostly explained in the README or used in the examples (https://github.com/CodeIntelligenceTesting/jazzer/blob/main/examples/BUILD.bazel). All arguments can be obtained by running Jazzer with the `--help` argument.

Let me know if you have questions a

[2021-05-24 13:32] LandGrey commented on #116
How can I manually by myself build `jazzer_agent_deploy.jar`，I do not kown about bazel ~

[2021-05-24 13:56] #116 closed

[2021-05-25 00:00] Pertence commented on #117
Thanks for the answer.

[2021-05-25 00:00] #117 closed

[2021-05-25 09:08] fmeum commented on #116
@LandGrey Glad to hear that! The issue that the path to `jazzer_agent_deploy.jar` had to be passed in manually was a recent regression that has now been fixed in #118.

[2021-05-27 17:17] thapr0digy opened #121 "slow-unit does not reproduce and hangs jazzer"
I'm currently testing GZIPInputStream and a portion of the Jackson library. My fuzzer ends up writing a slow-unit to disk, but never writes the reproducer .java. It also never finishes and just sits in futex syscall when I look through /proc/pid/syscall.

I'm basically asking to see is this an issue with jazzer or did I find a not reproducible bug in my fuzz test. I can post my testcase and whatev

[2021-05-28 12:33] fmeum commented on #121
We currently don't generate Java reproducers for timeouts and slow units, only for actual crashes. But the usual slow unit crash files written by libFuzzer should still be there and can be used to reproduce the issue with Jazzer (just pass the path to the file as a positional argument).

Would a way to generate a Java reproducer from an ordinary crash/timeout/slow-input input file help you? This i

[2021-05-31 00:26] marco-schmidt opened #127 "Improve documentation for Mac OS users"
I'd like to try jazzer with my Java library under Mac OS and have already created a target class: https://github.com/marco-schmidt/ufxcoder/blob/master/src/main/java/ufxcoder/formats/JazzerTarget.java

I've also followed your README.md and installed bazel.

I don't understand what do next. It seems like there are no released binaries for Mac OS and bazel is required to compile them. However, the d

[2021-05-31 07:39] fmeum commented on #127
I agree that the installation instructions for macOS were less than ideal. I don't own a macOS device myself and thus can't test binaries, but have improved the instructions in #128. If you encounter any issues while going through the steps, please update this issue and I will try to be of help.

I tried running the command at https://github.com/marco-schmidt/ufxcoder/blob/bf14f126e963620275f59106

[2021-06-02 20:22] marco-schmidt commented on #127
@fmeum Thanks for you quick response. I could follow the new guide easily, but running jazzer fails in the compilation stage on my machine:
[code]

As for the dependencies mentioned under [Using Bazel](https://github.com/CodeIntelligenceTesting/jazzer#using-bazel) on my machine:
[code]

[2021-06-02 20:47] fmeum commented on #127
This problem was fixed in https://github.com/CodeIntelligenceTesting/jazzer/issues/116 by updating XCode. Could you give that a try?

[2021-06-04 11:16] thapr0digy commented on #121
So I've attempted to diagnose this with no luck still so here's what I have.

When I use the slow-unit input file, the input does not hang for the specified time as shown when it's generating the slow-unit file. It looks to just be waiting on the futex syscall due to contention of some input/directory. I think generating a Java reproducer for a slow-input would be beneficial here.

Here's a portio

[2021-06-05 13:35] thapr0digy commented on #121
Additional information from this same harness that results in an OutOfMemory error:
[code]

[2021-06-16 09:27] fmeum commented on #121
@mdindoffer Do you have an example fuzz target with which I could reproduce the issue?

[2021-06-16 13:15] mdindoffer commented on #121
@fmeum Of couse: https://github.com/mdindoffer/jazzer-false-timeout

It fuzzes the https://github.com/capnproto/capnproto-java - I've precompiled the protocol schema and included it in the sources. So everything is ready to go, just build it with:
`mvn clean package -DskipTests`
and fuzz.
For a corpus there's one file in the `src/main/resources`.

I'm sorry I don't have the seeds anymore, but you

[2021-06-16 21:33] fmeum commented on #121
Thanks for the complete example. I'll take a deep look next week and will try to find the root cause.

[2021-06-18 17:02] thapr0digy commented on #121
@fmeum - I'll post mine as well. It's probably just easier this way: https://github.com/thapr0digy/gzipfuzzer

[2021-06-18 19:52] fmeum commented on #121
@mdindoffer The slow units encountered with the fuzz target you provided tend to produce `AddressBook` instances with a large number of `People` - on the order of `Integer.MAX_VALUE`. Surprisingly, even though the inputs are typically less than ~100 bytes long, `capnproto-java` still iterates over all these (empty) `People` objects, which takes on the order of 100 seconds with Jazzer's coverage in

[2021-06-18 19:54] fmeum opened #138 "Allow to regenerate Java reproducers from crashing inputs"
_Originally posted by @fmeum in https://github.com/CodeIntelligenceTesting/jazzer/issues/121#issuecomment-850386490_

[2021-06-21 07:55] mdindoffer commented on #121
OMG, you are absolutely right. It did not even cross my mind that instrumentation could have such large effect.

So not a Jazzer bug after all. I will look into those big loops this week.

Thanks @fmeum !

[2021-06-21 07:57] fmeum commented on #121
@thapr0digy I will close this issue for now, but feel free to post here if the issue you are experiencing is not caused by long loops + instrumentation overhead.

[2021-06-21 07:58] #121 closed

[2021-07-08 15:35] fmeum commented on #79
@chrismgrayftsinc Have you managed to set up `rules_fuzzing`?

[2021-07-08 23:06] chrismgrayftsinc commented on #79
Thanks for checking in!  I tried to set up a test today but I'm running into issues with C++ compilation.  I don't do much C++ development so it's likely I don't have the correct toolchain setup.

(The specific error is to do with `std::filesystem` not being found at link time, which appears to be an issue with a too-old `libstdc++`)

[2021-07-09 20:55] fmeum commented on #79
I will look into ways to resolve this on our end. Some versions of `libc++` are indeed known to cause problems since they claim to have C++17 support but then don't include `std::filesystem`.

[2021-07-09 21:01] fmeum commented on #79
Fixing this is blocked by https://github.com/bazelbuild/bazel/issues/13071.

[2021-07-12 12:35] fmeum commented on #79
Verified that this issue is resolved by https://github.com/bazelbuild/bazel/pull/13666. Let's see whether we can that merged upstream.

@chrismgrayftsinc If you still want to give this a try, the following should work with latest stable Bazel (4.1.0):
1. Add a dependency on Jazzer at commit 41d8027ac73311e129e6227d9205248800af8eb6 before loading the `rules_fuzzing` dependencies.
2. Execute Bazel w

[2021-08-05 18:15] ShindeAkshay commented on #64
@eustas How did you solved this issue? I am also getting similar error on macOS while running bazel
`@local_jdk//:lib/server/libjvm.dylib': target 'lib/server/libjvm.dylib' not declared in package '' (did you mean 'jre/lib/server/libjvm.dylib'?) defined by /private/var/tmp/_bazel_aksshind/e18a639a288529326df8bafcc10cf2af/external/local_jdk/BUILD.bazel and referenced by '//third_party/jni:libjvm_os

[2021-09-13 14:10] schirrmacher opened #180 "Kotlin Version Support"
I have updated a project to a new Kotlin version (`1.5.10`) and now the fuzzer stops working (tests haven't been changed):
[code]

Before (`Kotlin 1.4.31`):
[code]
Might this be related to Jazzer?

[2021-09-13 14:56] fmeum commented on #180
It's quite likely that the problem is on Jazzer's side as we are not yet shading the Kotlin stdlib and are still using Kotlin 1.4 internally. Let me fix that.

[2021-09-13 14:59] fmeum commented on #180
@schirrmacher Could you try again using Jazzer built from https://github.com/CodeIntelligenceTesting/jazzer/pull/181?

[2021-09-14 08:50] schirrmacher commented on #180
I now have problems with `libstdc++` and `libm` which I have to fix before testing...
[code]

[2021-09-14 09:00] fmeum commented on #180
That seems to indicate that the platform you are building on is newer than the image you are running the compiled binaries in.

You could try to compile Jazzer again using the toolchain config, e.g. via
[code]
The resulting binaries should be runnable even on very old systems, regardless of the version of system libraries you have installed locally.

[2021-09-14 09:06] schirrmacher commented on #180
Thanks for the fast response!
I now used `gcr.io/oss-fuzz-base/base-builder-jvm` as a base image and it works:

[code]

Your changes regarding the Kotlin version seem to work :)

I will figure out my problem from above, thanks for the advice!

[2021-09-14 09:08] #180 closed

[2021-09-15 20:26] qingkaishi opened #186 "Question: Is it a bug when performing gep-related instrumentation."
https://github.com/CodeIntelligenceTesting/jazzer/blob/3e0e4f177fdb8ecff1c707fed83c16c094b181c9/agent/src/main/java/com/code_intelligence/jazzer/instrumentor/TraceDataFlowInstrumentor.kt#L117-L130

When reading the code above, I found that the gep instrumentations are performed only after a "constant integer push" (see Line 122 and Line 128), which means we instrument when accessing an array eleme

[2021-09-17 23:20] ASKobayashi-db opened #187 "Jazzer aborts / does not write reproducer when using ASAN"
This is a fantastic project!

When running this project with ASAN, upon finding an issue, jazzer aborts without writing a reproducer or DEDUP_TOKEN This also means that --keep-going does not work.  It can be reproduced even with the default example:

Example:
[code]

The Base64 is the last line and it returns to console.  As you can see, the Test unit is written, but neither a reproducer or DEDUP_

[2021-09-18 07:27] fmeum commented on #186
Thanks for taking a deeper look at the instrumentation.

In an internal precursor to Jazzer, we indeed instrumented all array index operations, in particular including those with variable indices. Since our bytecode analysis is not as powerful as that of the LLVM IR, we couldn't easily detect writes to arrays at constant indices, so these were also instrumented. I remember performing some small ex

[2021-09-18 07:56] fmeum commented on #187
Both the `--keep_going` logic and the Java reproducers are additional features for Java exceptions that are built into Jazzer on top of libFuzzer. The report you are seeing is generated by AddressSanitizer applied to native code, without Jazzer being involved at all. This behavior is thus expected, but that of course doesn't mean that we couldn't improve on it.

Let's go over the individual featur

[2021-09-18 15:25] ASKobayashi-db commented on #187
Wow thank you for the quick and thorough reply!  I'll reply in order as well.

1) This is great. The "hardest" part of doing a simple invocation wrapper is generating a DEDUP token.  It wouldn't be hard to hash the stack, but much easier (and presumably a more sophisticated solution) to get the library to do it for you..

2) I suspected the issue was with the fact that the abort is triggered.  Goo

[2021-09-18 15:25] #187 closed

[2021-09-20 13:21] schirrmacher opened #188 "libFuzzer Dictionary Support"
When applying the `-dict` [flag of libFuzzer](https://llvm.org/docs/LibFuzzer.html#dictionaries) the fuzzing just stops:

[code]

Is it because dicts are not supported at the moment?

[2021-09-20 15:46] fmeum commented on #188
Dictionaries are fully supported (in the same way as with libFuzzer) and actively used in OSS-Fuzz. Judging by the command output, it seems that Jazzer/libFuzzer treated `dictionaries/json.dict` as an input file, not a dictionary. Could you provide the full command line invocation?

[2021-09-20 16:42] schirrmacher commented on #188
The command I used was:

[code]

[2021-09-20 16:46] schirrmacher commented on #188
I guess I found the issue. It should be `-dict=dictionaries/json.dict` instead of `-dict dictionaries/json.dict`.

[2021-09-20 17:00] #188 closed

[2021-09-20 17:10] fmeum commented on #188
You should be able to omit the `=` in non-libFuzzer Jazzer flags, which would make these command lines more consistent.

[2021-09-25 20:26] qingkaishi commented on #186
Hi, many thanks for your reply, which lets me know more about jazzer. Since both Jazzer and Libfuzzer are new to me, I still have some questions.

* I am not sure what you mean by "we couldn't easily detect writes to arrays at constant indices". In my opinion, it could be easy to identify writes to arrays at constant indices, because we can check if the index is a constant by checking if the index

[2021-10-18 16:58] fmeum-ci commented on #65
@eustas I switched to `target_compatible_with` to skip the failing tests. `ExampleFuzzerWithNative` is working on macOS now, the other two tests still fail somewhere deep in macOS internals.

[2021-10-19 10:30] fmeum commented on #65
I changed the title of the issue to better reflect what is left to do.

[2021-11-15 08:35] Ph0tonic opened #237 "Hook not triggered for internal method"
Hello,

I have a problem with hooks that do not seem to trigger.
Here is a simple reproducer, where I just set up a hook for method `java.util.PriorityQueue.siftUpUsingComparator(PriorityQueue.java:675)` and where I throw an Exception in case the hook is not triggered.
When executing it, I get the following output where we can see that I can trigger this function without triggering the hook.
Thank

[2021-11-15 15:48] fmeum commented on #237
Jazzer hooks apply to method *callsites*, not the methods themselves. Thus, for a hook to be called, the callsite has to be instrumented by Jazzer. By default, Jazzer does not instrument the Java standard library, so it never sees the call of `PriorityQueue.siftUpUsingComparator` in `java.util.PriorityQueue.siftUp`.

You can control the exact set of classes instrumented by Jazzer using the `--inst

[2021-11-22 06:29] FourierX9 opened #241 "How to fuzz java program when the jdk argument '--enable-preview' enabled"
Hi: I am using Jazzer to fuzzing with JDK17 new preview feature. And I got a Error goes like this:

== Java Exception: java.lang.UnsupportedClassVersionError: Preview features are not enabled for Error (class file version 61.65535). Try running with '--enable-preview'
        at java.base/java.lang.ClassLoader.defineClass1(Native Method)
        at java.base/java.lang.ClassLoader.defineClass(Class

[2021-11-22 09:53] fmeum commented on #241
You can pass arguments to the JVM via `--jvm_args`, which isn't mentioned in the README yet. Could you check whether https://github.com/CodeIntelligenceTesting/jazzer/blob/823e8d1a7382381697479d1e86a7911833fdc215/README.md#passing-jvm-arguments helps you resolve this issue?

[2021-11-22 14:40] FourierX9 commented on #241
It works!!! Sorry for my stupid question. Thank you so much

[2021-11-27 15:51] #241 closed

[2021-11-30 09:56] Ph0tonic commented on #237
Thank you very much ! These solutions work perfectly and I should be able to use them in my project.

[2021-11-30 09:56] #237 closed

[2021-12-02 16:22] katherine-hough opened #249 "FuzzedDataProvider.consumeChar(char min, char max) returns values outside of range"
Calls to `FuzzedDataProvider.consumeChar(char min, char max) ` can return values outside of the range [min, max]. For example, fuzzing the following method with Jazzer produces an unexpected assertion error:
[code]

I believe that the issue is that line 667 of fuzzed_data_provider.cpp uses a function pointer to `ConsumeIntegral ` instead of `ConsumeIntegralInRange`.

[2021-12-02 17:13] fmeum commented on #249
Good catch, your analysis of the cause is also correct. Do you want to submit a PR with the fix you suggested?

[2021-12-02 18:49] katherine-hough commented on #249
I created a PR. Thank you for the fast response.

[2021-12-07 14:39] #249 closed

[2021-12-14 20:44] chlunde opened #260 "Docker build failed - invalid registered toolchain '@llvm_toolchain//:cc-toolchain-x86_64-darwin'"
`docker build` fails:
[code]

I found a workaround with a small hack:

[code]

<details>
 <summary>The reason I'm building using docker is that I'm getting another issue with building on my Fedora 35 machine...</summary>

[code]
</details>

[2021-12-15 08:09] fmeum commented on #260
Thanks for the detailed report!

Your second issue seems to be https://github.com/prysmaticlabs/prysm/issues/4666. Bazel builds are run in a sandbox, which breaks ccache. Since Bazel takes care of the caching itself, you should not see a loss in performance if you disable ccache for the Jazzer build (e.g. by pointing `CC` to your real clang). If you want to set up ccache-like caching for Bazel acr

[2021-12-15 11:31] fmeum commented on #260
@chlunde Should be fixed by https://github.com/CodeIntelligenceTesting/jazzer/pull/262, could you try again after this has been merged?

[2021-12-15 11:40] #260 closed

[2021-12-16 07:41] chlunde commented on #260
@raminfp Thanks, the docker image works well. I tried a few alternatives with `--disk_cache` and it doesn't change the error message. I don't have time to look into that now, and the docker image is fine for me.

[2021-12-28 15:44] ahmedsherif opened #264 "BUILD.bazel:3:11: Compiling driver/sanitizer_hooks_with_pc.cpp failed: - MacOs M1"
while running `bazel run //:jazzer `, I encounter the following error:

[code]

[2021-12-28 15:46] ahmedsherif commented on #264
running with verbose error:

[code]

[2021-12-28 16:06] fmeum commented on #264
@ahmedsherif M1 support hasn't been merged yet. Could you try again with https://github.com/CodeIntelligenceTesting/jazzer/pull/254? If it works for you as well, I'll merge it.

[2021-12-29 16:22] fmeum commented on #264
Should be fixed on `main`, please open a new issue if it doesn't work for you.

[2021-12-29 16:22] #264 closed

[2021-12-29 17:05] ahmedsherif commented on #264
Its fixed, Thanks!

[2021-12-31 06:59] dgardnersf opened #265 "the recording FuzzedDataProvider skips methods implemented as interface defaults"
The pickX methods that are implemented as FuzzedDataProvider interface defaults have internal calls to the data provider that never get recorded. This causes playback via the CannedFuzzedDataProvider to fail with class cast exceptions since the stream does not contain the needed input.  A workaround is to copy/paste the default methods into a helper class that delegates appropriately to the data p

[2021-12-31 12:18] fmeum commented on #265
Good catch, I completely missed this subtlety of using proxies. This seems suprisingly difficult to resolve without breaking backwards compatibility or duplicating all default methods. I will see whether I can find a workaround.

[2021-12-31 12:38] fmeum commented on #265
@dgardnersf Could you check whether #266 resolves the issue? I added test coverage for the FuzzedDataProvider --> RecordingFuzzedDataProvider --> CannedFuzzedDataProvider workflow to prevent this from breaking in the future.

[2021-12-31 12:45] #265 closed

[2022-01-03 15:50] cdanielgomes opened #269 "Constant string generated for crash file is too long"
Hi there.

I am generating 2D matrix with random dimensions like the code below.

[code]

Jazzer runs the code, but the file created has a huge string feeding ```CannedFuzzedDataProvider```.

I do not know if this is a bug or if this issue is intended to be like it is, but Jazzer is generating a file that does not compile.

I let here a controlc.com for the crash file if you want to check it. [Cra

[2022-01-03 16:28] fmeum commented on #269
Java source files have a limit of 64KB on the size of string constants and Jazzer should honor that limit when generating Java reproducers. We might be able to get away with String concatenation, but I will have to investigate solutions.

[2022-01-11 11:05] bertschneider commented on #269
@cdanielgomes As @fmeum pointed out the generated data string is tool long. I created PR #283 to fix this issue.

[2022-01-12 07:53] #269 closed

[2022-01-27 09:19] fmeum opened #294 "Reenable BuildBuddy"
We are currently not using BuildBuddy in the CI since the required secret isn't available in PR pipelines initiated from forks and BuildBuddy chokes on an empty authorization header. See #293 for more context.

A possible fix could be to set the remote header conditionally only when the secret is not empty.

[2022-02-09 00:30] prashast opened #307 "Specify external jar file as a dependency for fuzzer"
Hi, instead of importing a library from maven for fuzzing, I wanted to import a locally-downloaded jar file containing the library to be fuzzed on the classpath. Is that possible to do so by tweaking the rules in `jazzer/examples/BUILD.bazel`?

As an example, let's say I had this as the original build rule for the fuzz target.
[code]

How can I update the `deps` to not retrieve the imaging library

[2022-02-10 06:25] #307 closed

[2022-02-12 10:46] fmeum commented on #307
@prashast What you mention in your update is exactly how you should use Jazzer (although there is also a Docker image in case that is more convenient). The `java_fuzz_target_test` Bazel macro is something we use to verify examples don't break in Jazzer's CI - it is not meant to be used for more than toy examples. If you want to use Jazzer in Bazel, proper integration is available over at [rules_fu

[2022-02-12 18:39] prashast commented on #307
Thanks for clarifying the intended usage. :)

[2022-02-23 10:17] fmeum opened #336 "`UnsatisfiedLinkError` if there is no class to instrument"
[code]

[2022-02-23 14:32] #294 closed

[2022-02-27 10:15] #336 closed

[2022-03-09 10:57] fmeum opened #355 "Ensure that the `Map#get` hook does not flood the value profile bitmap"
Not directly related to this PR, but I wonder if mixing in `lowerBoundKey` and `upperBoundKey` to the `hookId`s would create unnecessary many IDs if the map content is not stable.

_Originally posted by @bertschneider in https://github.com/CodeIntelligenceTesting/jazzer/issues/353#issuecomment-1062644234_

[2022-03-23 11:57] ujjwal96 opened #365 "Exiting with "No such directory" error while trying to minimize input"
I'm using the docker container to run jazzer on macOS 11.6.5
While trying to minimize the crashing input I run the following command
`docker run -v $(pwd):/fuzzing cifuzz/jazzer --cp=<lib1.jar:lib2.jar...> --target_class=<target_class_path> -minimize_crash=1 fuzz_out/crash-f6ca037bf1e38e19bca6263cc9fe950ea6c1bced`

The fuzzer exits with the following error -
`No such directory: /fuzzing/minimized-

[2022-03-30 13:24] #365 closed

[2022-04-03 08:35] Puma2511a opened #377 "**********_[![image](https://user-images.githubusercontent.com/100020410/161419315-a712a56a-c6ba-4945-a644-c27e95345e88.jpeg)]()_"
**********_[![image](https://user-images.githubusercontent.com/100020410/161419315-a712a56a-c6ba-4945-a644-c27e95345e88.jpeg)]()_

__Originally posted by @Puma2511a in https://github.com/CodeIntelligenceTesting/jazzer/pull/373#issuecomment-1086803561__

[2022-04-03 08:40] fmeum commented on #377
@Puma2511a This seems unintentional. Do you want me to delete your posts?

[2022-04-03 08:40] #377 closed

[2022-04-03 18:40] Puma2511a opened #378 "Safari"

[2022-04-03 18:43] #378 closed

[2022-04-26 12:40] miguelbpsg opened #395 "Test Inputs Generation"
I'm starting to use jazzer, but I am interested to know if there is any way to obtain as well the inputs that do not find crashes, that is, all the provided inputs for the target prior to the crash.

[2022-04-26 12:44] fmeum commented on #395
Just like libFuzzer, Jazzer takes a corpus directory as an optional positional argument (see https://llvm.org/docs/LibFuzzer.html#running). Every input that triggers new coverage or other feedback from the instrumentation is added to the corpus.

Collecting *all* inputs is usually not a good idea since it hurts performance and generates very large amounts of data very quickly. If you still need th

[2022-04-29 09:47] #395 closed

[2022-05-02 09:12] infandrew opened #405 "out-of-memory in ExampleFuzzer with keep_going"
Please check the ExampleFuzzer with option `--keep_going` more than 1.

[code]

With `export JAVA_OPTS='-verbose:gc'` I can see that heap is full after a few minutes.
Checked on 3b473ad

[code]

Is it an issue?

[2022-05-02 11:17] fmeum commented on #405
Thanks for the clear report. This is a bug and I'm investigating it.

[2022-05-02 13:04] fmeum commented on #405
@infandrew Could you check whether this is fixed by https://github.com/CodeIntelligenceTesting/jazzer/pull/406?

[2022-05-02 13:24] infandrew commented on #405
Thanks. Works fine on #406

[2022-05-06 05:15] #405 closed

[2022-05-11 14:31] fmeum-ci opened #410 "Java reproducer fails to reproduce"
The finding reproduced by
[code]
is not reproduced by
[code]

Files renamed to allow uploading to GitHub

[Crash_149fd50be3b111ffd5384759cddc3a7d20eed8ce.java.txt](https://github.com/CodeIntelligenceTesting/jazzer/files/8670766/Crash_149fd50be3b111ffd5384759cddc3a7d20eed8ce.java.txt)
[crash-149fd50be3b111ffd5384759cddc3a7d20eed8ce.txt](https://github.com/CodeIntelligenceTesting/jazzer/files/867076

[2022-05-11 14:31] fmeum-ci commented on #410
CC @bertschneider We could take a look together when you are back.

[2022-06-27 13:09] stheid opened #419 "Write Fuzztargets in Kotlin"
I am under the impression, that it is currently not possible to have Kotlin fuzztargets AND use the byte interface instead of the `FuzzedDataProvider`. [However officially ByteArray should be equivalent to byte[]](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-byte-array)

[code]

FuzzTarget:
[code]

[2022-06-28 09:49] fmeum commented on #419
You need the Kotlin equivalent of a static method, see https://github.com/CodeIntelligenceTesting/jazzer/blob/main/examples/src/main/java/com/example/KlaxonFuzzer.kt for an example. Let me know if that doesn't work.

[2022-06-28 17:55] stheid commented on #419
I have yet to conduct more experiments, but it appears to work by just changing `class` to `object` and adding the `@JvmStatic`.

[code]

Initially i didn't search further, because i assumed the issue was related to the `kotlin.ByteArray` and the referenced example also uses the `FuzzedDataProvider`, but apparently that is not the case. Fortunately :smiley:

[2022-07-07 13:15] fmeum-ci opened #420 "SQL injection sanitizer fails during startup"
The following stack trace has been reported by users:

[code]

I think that the root cause is that https://github.com/CodeIntelligenceTesting/jazzer/blob/10cf2aa7101a8c6439804601ff43f1fa1fbf4044/sanitizers/src/main/java/com/code_intelligence/jazzer/sanitizers/SqlInjection.kt#L58 lists methods on super and child classes separately, which leads to the hook being applied twice to e.g. `PreparedStatem

[2022-07-07 13:15] fmeum-ci commented on #420
CC @bertschneider @simonresch

[2022-07-08 07:15] #420 closed

[2022-07-08 12:02] henryrneh opened #422 "Coverage keep increasing for Tomcat fuzz targets"
When I instantiate a new tomcat instance (ex: Tomcat tomcat = new Tomcat();) inside the fuzzerTestOneInput function, the coverage report of Jazzer will keep increasing until it reaches the JAZZER_MAX_NUM_COUNTERS. But when I just instanciate Tomcat just once inside of fuzzerInitialize then this problem will not happen. When the fuzz target which instantiate a tomcat instance everytime is  running,

[2022-07-27 12:36] aschaich opened #426 "VerifyError thrown while instanciating org.postgresql.jdbc.PgConnection"
Hello

I'm currenlty onboarding [pgjdbc](https://github.com/pgjdbc/pgjdbc) into oss-fuzz. One of the fuzz targets creates a java.sql.Connection to a postgresql server, which works, and then uses this connection to instanciate a `java.sql.Statement`. While doing so, a `VerifyError` is thrown uppon which the JVM dies.

    == Java Exception: java.lang.VerifyError: Inconsistent stackmap frames at bra

[2022-07-29 08:08] kyakdan commented on #426
@aschaich I've tried your OSS-Fuzz setup and no fuzz targets were built. Could you check whether you've pushed the latest state?

I've created your fuzz test locally (without OSS-Fuzz) with the latest version (https://mvnrepository.com/artifact/org.postgresql/postgresql/42.4.0) and didn't get the error you got.

[2022-07-29 09:16] aschaich commented on #426
Hi,

I just tried cloning the repository anew and building the pgjdbc fuzzer using
git clone --branch pgjdbc https://github.com/CodeIntelligenceTesting/oss-fuzz.git oss-fuzz-pgjdbc
cd oss-fuzz-pgjdbc
python infra\helper.py shell pgjdbc
then, in the docker shell
compile
/out/SqlStatementFuzzer
which both resulted in the fuzzer getting built and also having it cause the VerifyError
_________________

[2022-07-29 10:39] aschaich commented on #426
I just tried cloning the repository anew and building the pgjdbc fuzzer using

	git clone --branch pgjdbc https://github.com/CodeIntelligenceTesting/oss-fuzz.git oss-fuzz-pgjdbc
	cd oss-fuzz-pgjdbc
	python infra\helper.py shell pgjdbc

then, in the docker shell

	compile
	/out/SqlStatementFuzzer

which both resulted in the fuzzer getting built and also having it cause the `VerifyError`

[2022-07-31 18:10] l0s opened #427 "Increasing Fuzz Input Size"
What is the right way to increase the input size?

Similar to the [example in the README](https://github.com/CodeIntelligenceTesting/jazzer/blob/9187660732a99ffc982795bd121637a0339a0b23/README.md?plain=1#L130), I see the log message:

    INFO: -max_len is not provided; libFuzzer will not generate inputs larger than 4096 bytes

In addition, when calling `FuzzedDataProvider::consumeBytes(int)`, I g

[2022-08-01 16:27] SyrasX opened #429 "Ctrl + c not working with -fork and -ignore_crashes=1"
Using the Libfuzzer flags -fork and -ignore_crashes sending ctrl + c is regarded as a crash and the threads restart. I fixed it in my own fork with a small patch from https://github.com/google/oss-fuzz/issues/4547. Since the diskussion there implies no real maintenance of Libfuzzer anymore, maybe there is interest in fixing it in the fork used by jazzer ?

[2022-08-01 19:18] fmeum commented on #429
We have successfully landed libFuzzer patches upstream in the not-too-distant past and are actually planning to submit our remaining generic patches soon. In my experience, while certainly no longer actively developed, libFuzzer is still maintained - the commit history even has contains some non-trivial features added in the last couple of months.

I would thus propose the following: Could you sub

[2022-08-01 19:20] fmeum commented on #427
I am able to reproduce this issue, but am still pretty clueless as to the root cause. I don't think there is anything obviously wrong in `FuzzedDataProvider`. I will take a deeper look.

[2022-08-04 13:34] SyrasX commented on #429
Done. There seems to be some activity there.

[2022-08-04 13:36] fmeum commented on #429
@SyrasX Could you add a link to the issue you opened?

[2022-08-04 13:48] SyrasX opened #433 "Interaction of --keep_going and -ignore_crashes=1"
While using Libfuzzers fork mode Jazzers --keep_going is naturally not enough. Using -ignore_crashes=1 seems to work fine. But both together lead to Jazzer dealing with the crash without Libfuzzer noticing it.  Currently I only see the minor issue of the number of crashes not getting counted and staying at zero in the command line output, but not sure if there are no other consequences.

[2022-08-05 08:23] fmeum commented on #433
Do you happen to know whether libFuzzer's fork mode reports ASan `halt_on_error=1` findings? That option served as the motivation for Jazzer's `--keep_going` mode and if it isn't well supported by libFuzzer, I'm inclined to say we should improve the upstream handling of such findings instead of doing something Jazzer-specific.

[2022-08-05 12:55] SyrasX commented on #433
Sorry I'm not sure.

[2022-08-06 10:24] SyrasX commented on #429
https://reviews.llvm.org/D130990

[2022-08-12 14:07] fmeum commented on #427
I can reproduce this even with `-len_control=0`, but it no longer reproduces with `-mutation_depth=100`.

My best guess is that without any coverage feedback, a large input size can only be reached if it can be attained from an existing corpus input within a single mutation chain (default length of 5 individual mutations). Individual mutations are limited in the length delta they can cause, e.g. [

[2022-08-14 23:19] l0s commented on #427
@fmeum can you share documentation on how to add a corpus entry? It was not clear to me how to do that.

[2022-08-15 06:38] fmeum commented on #427
oss-fuzz requires you to add files to a directory next to your fuzz test: https://google.github.io/oss-fuzz/getting-started/new-project-guide/#seed-corpus.

Usually, this is one by [downloading the corpus in the Dockerfile](https://github.com/google/oss-fuzz/blob/901fc681121a4e590487062ef46d5f4619b86da5/projects/apache-commons/Dockerfile#L35) and then [moving it into the correct location in `build

[2022-08-15 06:38] #427 closed

[2022-08-17 05:54] SyrasX commented on #429
Fixed in llvm: https://github.com/llvm/llvm-project/commit/aa0e9046c16bf27a8affbd903e2e3cad924a5217

[2022-08-18 08:39] fmeum commented on #79
We are no longer relying on `std::filesystem` and am in the process of restoring C++1 compatibility, so this shouldn't be necessary anymore.

[2022-08-18 08:39] #79 closed

[2022-08-18 08:40] fmeum commented on #97
We are now passing a default `-rss_limit_mb` based on the value of `-Xmx`.

[2022-08-18 08:40] #97 closed

[2022-08-29 08:54] #410 closed

[2022-08-30 06:51] #429 closed

[2022-09-01 19:33] McLarney opened #465 "Some reproducers do not compile"
Hello, I'm fuzzing an old version of Jsoup as an exercise. I'm using the autofuzzer and outputting reproducers. I'm trying to run the reproducers individually and noticed that some of them don't compile. For example:

[code]
gives the error

    org.jsoup.Jsoup.parse((java.lang.String) null, "\\b\\n\\n\\n", new org.jsoup.parser.Parser((org.jsoup.parser.TreeBuilder) ((java.util.function.Supplier<or

[2022-09-06 19:05] #465 closed

[2022-09-07 16:26] gredler opened #474 "JUnit source JAR on Maven Central is invalid"
The new JUnit integration is awesome, but it looks like the source JAR uploaded to Maven Central (jazzer-junit-0.12.0-sources.jar) is invalid. My IDE (Eclipse) is unable to use it to browse the sources, and 7Zip is unable to open it (which is usually possible).

[2022-09-07 16:33] gredler opened #475 "Add support for --coverage_report equivalent in JUnit integration"
I'd love to be able to run fuzz tests more easily via the JUnit integration, but still receive a coverage report like the one that the binary is able to generate.

In the future I could also see myself needing equivalents for --coverage_dump, -merge, and -runs so I'm not sure if a one-to-one mapping to annotation parameters is ideal, or if something more generic (e.g. a "libFuzzerArgs" parameter a

[2022-09-07 16:41] fmeum commented on #475
With IntelliJ Ultimate, you can actually just run the regression test "with coverage" (option on the play button) and you will get a report right in the IDE covering all corpus entries.

If you are using a different IDE, how are you usually determining coverage for your test suites? Ideally, that would cover `@FuzzTest`s too and we wouldn't need to introduce special handling for this important use

[2022-09-07 16:45] fmeum commented on #474
I am planning to figure out how to build a proper source JAR and also add documentation for the new integration. Happy to hear you already figured it out though :-)

[2022-09-08 08:06] gredler commented on #475
Yep, makes sense. Any thoughts on future plans for e.g. -merge or -runs?

[2022-09-08 09:44] fmeum commented on #475
I think that `-runs` makes sense to expose on `@FuzzTest`, like we do with `maxDuration`.

`-merge` is more difficult since that involves multiple corpora. What usecase for `-merge` do you have in mind?

[2022-09-09 02:07] gredler commented on #475
Makes sense. I've been using -merge to save off different corpus directories at different stages and then merge them back into one corpus later on. I guess I was wondering more generally about all the LibFuzzer single-dash options, which the CLI docs seem to punt as "just go read the LibFuzzer docs and do whatever you want", so I was wondering if the same approach was planned here... -merge being

[2022-09-09 11:56] fmeum commented on #475
I don't have a fully fleshed out plan yet for how to deal with these "advanced" libFuzzer flags. I would like to keep them out of the `@FuzzTest` annotation, which should offer a friendly UX to users new to fuzzing. Instead, I'm thinking of making Jazzer available as a standalone JAR used from the CLI and/or making it possible to tune libFuzzer arguments via system properties.

I will close this i

[2022-09-09 11:56] #475 closed

[2022-09-09 11:57] fmeum opened #478 "Support advanced libFuzzer arguments with @FuzzTest"
Makes sense. I've been using -merge to save off different corpus directories at different stages and then merge them back into one corpus later on. I guess I was wondering more generally about all the LibFuzzer single-dash options, which the CLI docs seem to punt as "just go read the LibFuzzer docs and do whatever you want", so I was wondering if the same approach was planned here... -merge being

[2022-09-13 12:16] asomov opened #484 "Introduce JDK 17 in OSS Fuzz"
I tried to[ upgrade JDK to 17 in OSS Fuzz](https://github.com/google/oss-fuzz/pull/8479)

Unfortunately, Jazzer expects[ JDK 15 and it fails](https://github.com/google/oss-fuzz/actions/runs/3044449831/jobs/4904851651
)

With this error:

[code]

Can you please help to find out what can I  do to change Jazzer to work with JDK 17 in OSS Fuzz ?

[2022-09-13 12:49] #484 closed

[2022-09-13 13:00] asomov commented on #484
@fmeum Well, OSS Fuzz clones this project and checks out a specific commit.

[2022-09-13 13:25] fmeum commented on #484
It's in this repo (OSS-Fuzz): https://github.com/snakeyaml/oss-fuzz/blob/a6cc50a6150859cda674951e44df6c6940ef1af2/infra/base-images/base-builder/install_java.sh#L33
You change the first part of it in this PR, but not the second part that contains the command to build Jazzer from the checked out commit. We do test Jazzer with JDK 17, so I would expect it to work.

[2022-09-13 16:17] asomov commented on #484
Sorry. Thank you for the support.

[2022-09-14 13:28] fmeum opened #486 "Some tests are flaky"
A local test run gave the following results:
[code]

[2022-09-14 13:28] fmeum commented on #486
CC @bertschneider

[2022-09-14 15:04] #486 closed

[2022-09-15 07:09] #474 closed

[2022-09-27 13:36] yarikbratashchuk opened #493 "JUnit integration usage"
Hello

I've been trying to use jazzer-junit with my unit test suite and gradle and it didn't work for me.
Couldn't find any documentation on how to make it work with gradle (not bazel).
Am I missing some junit configuration? I imported jazzer-junit and synced gradle so it sees all dependencies.
But when i try to run i'm getting ```> No tests found for given includes``` message.
Please, give some b

[2022-09-27 13:38] fmeum commented on #493
The feature is pretty new and not properly documented yet, but I am actively working on that.

If you start from any JUnit 5 template for Gradle and then add the `jazzer-junit` dependency, it should work. There aren't any Gradle-specific setup steps, but I will look into providing a Gradle example.

[2022-09-27 13:41] yarikbratashchuk commented on #493
![Screenshot 2022-09-27 at 16 39 53](https://user-images.githubusercontent.com/12980380/192542277-75ba07fb-aa63-4636-82db-17eacb56ffd7.png)
Thanks for the quick reply, @fmeum. So, do i have to modify run configuration or should i just run it as it is? Because if I do, i'm getting
[code]

[2022-09-27 13:43] fmeum commented on #493
You should not have to modify the run configuration. If you can share your example setup (e.g. as a GitHub repo), I could investigate why this isn't working.

[2022-09-27 13:50] yarikbratashchuk commented on #493
maybe the runtime must be different?

[2022-09-27 14:06] fmeum commented on #493
This works for me:
[code]

[code]

Note that support for Autofuzz hasn't been released to Maven yet, but fuzz tests using `FuzzedDataProvider` or `[]byte` as arguments are already supported.

[2022-09-27 14:20] yarikbratashchuk commented on #493
Works with these dependencies, thank you very much :)

[2022-09-27 14:29] #493 closed

[2022-09-27 14:30] fmeum commented on #138
With the JUnit integration and the upcoming switch to a "single JAR" version of Jazzer, this should no longer be needed.

[2022-09-27 14:30] #138 closed

[2022-10-04 06:20] yarikbratashchuk commented on #493
Hello again @fmeum, turns out it runs only for 3 seconds and here is the output i got for the above (with Illegal reflective access warning):
[code]

[2022-10-04 06:22] yarikbratashchuk commented on #493
I doesn't run i believe

[2022-10-04 06:25] fmeum commented on #493
Yeah, that's where proper documentation will go a long way: By default, the `@FuzzTest` runs in regression test, meaning only on a fixed set of inputs provided in a resource directory called `<ClassName>Inputs`. To start fuzzing, set the `JAZZER_FUZZ` environment variable to 1 (e.g. in an IntelliJ/VSC run configuration) and then start a test.

[2022-10-04 09:46] fmeum commented on #493
The `@FuzzTest` annotation has a `maxDuration` parameter that you can set to e.g. `10m30s`.

[2022-10-04 09:47] yarikbratashchuk commented on #493
Yes i did, but it still runs for 60 seconds, hm

[2022-10-04 09:48] fmeum commented on #493
That's surprising. :-) Do you have a reproducer you can share?

[2022-10-27 03:23] McLarney opened #520 "Reproducers for mutation graph entries"
Currently, the reproducers are only created for the crashes. Would it be possible to have an option for also including the mutation graph or all of the inputs? Currently I've tweaked the code locally to get reproducers for every test case when I only want the mutation graph entries. For longer fuzzing runs, storage problems can be expected.

[2022-10-27 10:51] CodeLowSky opened #521 "FuzzTest execution with gradle not working"
I tried to get a basic test running with gradle but it seems like jazzer is trying to instrument the gradle workers and fails somewhere.

[code]

build.gradle
[code]

App.java
[code]

AppTest.java
[code]

Any idea how to get this running?

[2022-10-27 11:00] fmeum commented on #521
A complete stack trace of the Gradle would be very helpful - a `VerifyError` hints at something more serious.

That said, you can control the instrumentation with the `jazzer.instrument` JUnit configuration parameter, see https://github.com/CodeIntelligenceTesting/jazzer/blob/main/examples/junit/src/test/resources/junit-platform.properties.

[2022-10-27 11:13] CodeLowSky commented on #521
Attached is the stack trace, thanks for looking into this.
In the meanwhile I try the instrument option.

[trace.txt](https://github.com/CodeIntelligenceTesting/jazzer/files/9878737/trace.txt)

[2022-10-27 12:29] CodeLowSky commented on #521
So I've played around a bit and added the junit-platform.properties.
[code]

The build is working now but the test executions seems a bit off.
I added byteFuzz test case from the examples which should fail but it does not.

[code]

It seems like the test cases are detected, because it shows two cases in TEST-dummy.DummyFuzzTest.xml

[code]

Am I missing something? Also why can't the testcase names

[2022-10-27 12:43] fmeum commented on #521
By default, the tests are only run on a fixed set of inputs stored in the `src/test/resources/dummy/DummyFuzzTestInputs` directory (for your example), plus the empty input. This directory is populated with findings encountered during actual fuzzing runs, which you can start by running the tests with the environment variable `JAZZER_FUZZ` set to `1`. I tried that on your example and got a finding e

[2022-10-27 12:44] fmeum commented on #521
Turns out https://github.com/gradle/gradle/issues/4605 means that we can't rely on these lines being shown by Gradle.

[2022-10-27 12:51] fmeum commented on #521
@florianGla @MarkusZoppelt FYI, this might hit you with Gradle.

[2022-10-27 18:12] bstee615 opened #522 "How to attach JVM debugger while reproducing fuzzer inputs?"
Hello, I've written a utility to print program values at function entry using Java Debug Interface. I want to run my utility while reproducing inputs generated by Jazzer. Normally I will run my utility by running the target program with the JVM options `-Dagentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=8787`, then connecting my utility to port 8787.

I see that with Jazzer, fuzzed inp

[2022-10-27 18:16] fmeum commented on #522
You can pass JVM arguments to Jazzer's native launcher via `--jvm_args` (requires escaping `:` as `\:` though) or the `JAVA_OPTS` environment variable.

[2022-10-27 18:20] bstee615 commented on #522
Ok I see the relevant documentation in the README. Thank you!

[2022-10-27 18:21] #522 closed

[2022-10-28 07:24] CodeLowSky commented on #521
Thanks for the info, this is working now with `JAZZER_FUZZ=1`, but how does your cmdline for testing look like?
When I run the tests with `gradle test` it is putting the crash reports in the root dir and if I rerun without `JAZZER_FUZZ` set it ignores the inputs even if I move the crash files into the correct folder.

[2022-10-28 07:27] fmeum commented on #521
You have to create a resource directory corresponding to your fuzz test class with `Inputs` appended for Jazzer to collect crashes in it and replay them when ordinary tests are running. In your case, creating `src/test/resources/dummy/DummyFuzzTestInputs` should work (I tested it locally).

[2022-10-28 07:40] CodeLowSky commented on #521
This is my input dir

[code]
And this is the test output with `gradle test`

[code]

How do you execute the tests?

[2022-10-28 07:59] fmeum commented on #521
In my tests, the `src` directory is at the root of the project, not nested in an `app` module directory. Jazzer doesn't support this yet, but it probably should.

[2022-10-28 08:01] fmeum commented on #520
Could you elaborate on what you would want to use the reproducers for?

With the new JUnit plugin and a "standalone jar" version of Jazzer, we are trying to get away from a reliance on code generation and instead make it easier to run Jazzer itself on binary input files.

[2022-10-28 08:02] fmeum opened #523 "Support inputs directories in multi-module projects"
https://github.com/CodeIntelligenceTesting/jazzer/issues/521#issuecomment-1294603998

[2022-10-28 08:03] fmeum commented on #521
I created #523 to track this. As a workaround, could you try to set the JUnit working directory to be the `app` subdirectory of your project root? That is the default behavior with Maven, but apparently not with Gradle.

[2022-10-28 08:15] CodeLowSky commented on #521
Even if I move `src` to the project root or set `app` as project root, it's the same behaviour.
But for now I can work with that, maybe I'll find a solution.
Thanks a lot for your help!

[2022-10-31 16:46] McLarney commented on #520
Sure, if I wanted to see how code coverage changed along a path in the mutation graph from a seed input to a crash, as it stands I would have to fully restart jazzer for each input. Alternatively, I could instrument the reproducers with a jacoco agent and run that.

[2022-11-07 09:24] stephengardiner opened #524 "Problem with docker image?"
Hi,

I'm having an issue trying to use the docker image. It probably me, because I'm new to jazzer and a docker novice, in many ways.  I detailed it here:

[Stackoverflow](https://stackoverflow.com/questions/74338191/cifuzz-jazzer-docker-image-missing-a-jar)

though perhaps I should have come here first.

Happily open to accept my "Doh!" moment, when you point out the obvious.

Thanks.

[2022-11-07 11:51] fmeum commented on #524
Thanks for the detailed SO report! We made a lot of changes under the hood over the last weeks and missed that this also affected the Docker image.

https://github.com/CodeIntelligenceTesting/jazzer/pull/525 should fix this. I pushed a new image based on it.

[2022-11-07 16:10] #524 closed, assigned to nobody

[2022-11-07 16:48] csulliv9 opened #527 "AutofuzzError: popGroup must be called exactly once for every pushGroup"
The exception below is encountered when using autofuzz functionality in jazzer-macos-x86_64 release 0.13.0 with the following options: --keep_going=20 -timeout=500 -max_total_time=1000 -detect_leaks=1 --autofuzz_ignore=java.lang.NullPointerException

**Exception**:
Unexpected exception encountered during autofuzz

== Java Exception: com.code_intelligence.jazzer.api.FuzzerSecurityIssueHigh: Remote

[2022-11-08 11:56] fmeum commented on #527
Thanks for the report. I think I found the root cause and hope that https://github.com/CodeIntelligenceTesting/jazzer/pull/528 fixes it.

@csulliv9 Could you perhaps build Jazzer from that PR and verify that it fixes the issue you are experiencing? You can build your own release archive with `bazelisk build //:jazzer_release`. If that shouldn't be possible, I can look into building one for you to

[2022-11-08 17:03] csulliv9 commented on #527
If you could build that would be greatly appreciated. I can't install baselisk on the current platform where I'm testing. If it's too much of an inconvenience I can try to migrate over to a new environment soon. Thanks!

[2022-11-08 18:05] fmeum commented on #527
@csulliv9 I built
[jazzer-macos-x86_64.tar.gz](https://github.com/CodeIntelligenceTesting/jazzer/files/9963946/jazzer-macos-x86_64.tar.gz) from https://github.com/CodeIntelligenceTesting/jazzer/commit/897dc81e45136d4132a2539390002e3042924a89 using our release pipeline.

[2022-11-09 22:28] csulliv9 commented on #527
Thanks you for the help. I've been running an autofuzz job for the last few hours and haven't run into this issue with the new build.

I am now seeing some other strange behavior I hadn't run into before. The fuzzer is producing empty files with names like "!$$!$ $$" and "Ժj", but I will raise a separate issue with more data if I see this across multiple runs.

[2022-11-09 22:38] fmeum commented on #527
Thanks for the confirmation, I will merge the PR and close this issue.

Is it possible that your fuzz target is creating these files?

[2022-11-09 22:41] #527 closed

[2022-11-11 09:31] AndreasTu opened #529 "Java Jazzer class seams to does not honor the --jvm_args nor JAVA_OPTS"
When using the new Java-Style `com.code_intelligence.jazzer.Jazzer` main.
The code seams to not honor JVM options, which should be passed to child processes either with `--jvm_args` or `JAVA_OPTS`.

I could not find any code except of the Native launcher to check for these arguments.
In the Jazzer class the method  `javaBinaryArgs()` constructs the JVM args, but it does not copy the args into it.

[2022-11-11 09:43] fmeum commented on #529
The Jazzer class runs in an existing JVM, so it is too late for it to configure the JVM. But it should preserve all JVM options when launching child processes, so using `JAVA_TOOL_OPTIONS` or just adding the JVM flags to the `java` invocation that starts Jazzer should work.

The docs on that will be improved soon, but we hope that this brings Jazzer more in line with well-known JVM workflows.

[2022-11-11 09:46] AndreasTu commented on #529
Yes the first thing is understandable. I only would liked to change the JVM args of the spawned child processes.

And yes with `JAVA_TOOL_OPTIONS` it is working.

[2022-11-11 09:50] fmeum commented on #529
Could you provide an example of JVM args provided on the command-line that aren't passed on to child processes? I would view that as a bug, it shouldn't be necessary to use `JAVA_TOOL_OPTIONS` for that.

[2022-11-11 09:55] AndreasTu commented on #529
Root-Process:
-------------------
[code]

Child-Process:
-------------------
[code]

[2022-11-11 09:58] fmeum commented on #529
Could you try passing the JVM args directly to `java.exe` before the main class, instead of using `--jvm_args=`? The latter has always been a clutch that isn't necessary anymore with the new approach.

[2022-11-11 10:05] AndreasTu commented on #529
Yes that is working fine. Good to know. That will solve my issue.

Btw thanks for the great tooling. It found many bugs in my Project :) .

[2022-11-11 10:06] fmeum commented on #529
Glad to hear that! Happy fuzzing!

[2022-11-11 10:06] #529 closed

[2022-11-11 12:20] GanbaruTobi opened #530 "How to find collected data"
Hi,

I run my fuzzer with

`bazel run //examples:NeethiPolicyFuzzer -- /home/gbaru/code/fuzzer/jazzer/examples/input`

The generated output is:

`
...
== Java Exception: java.lang.IllegalArgumentException: service is not a <wsp:Policy> element.
	at org.apache.neethi.PolicyBuilder.getPolicyOperator(PolicyBuilder.java:176)
	at org.apache.neethi.PolicyBuilder.getPolicy(PolicyBuilder.java:113)
	at org

[2022-11-11 20:27] fmeum commented on #530
Bazel zips up the test outputs after the run, so you should be seeing a zip in the testlogs directory corresponding to the test.

That said, `java_fuzz_test` is more of a way for us to offer ready made examples than a supported way to fuzz real targets. I would recommend using either the command-line interface or, if you want good Bazel support, rules_fuzzing.

[2022-11-11 20:27] #530 closed

[2022-11-12 01:14] GanbaruTobi commented on #530
Thanks for the feedback.

I didn't find any zip in the testlogs directory. I assume the command-line interface mentioned is ./jazzer.
When running the following line i got a crash and reproducer (unzipped) in the launching directory:
`./jazzer --cp=./examples/NeethiPolicyFuzzer_target_deploy.jar --target_class=com.example.NeethiPolicyFuzzer`

I will look into the rules_fuzzing, thanks for suggesti

[2022-11-23 12:58] fmeum commented on #426
@aschaich I just reran your reproduction steps and am not hitting a `VerifyError`. Could you try this again?

[2022-11-24 20:00] stephengardiner opened #535 "Can you push 0.13.1 to Maven Central please?"
Hi folks,

Trying to setup some fuzzing on my project (with the hope that I can write a presentation for our developer community) and there seems to be some significant changes in this version.

Please push to Maven Central, when you get the opportunity.

Best regards,
Stephen Gardiner

[2022-11-24 20:17] fmeum commented on #535
The changes in 0.13.1 that affect the Maven version are very minor, the big bugfix that caused the patch release only affects the standalone jar that's part of the GitHub releases.

I will push 0.13.1 to Maven, but you can safely use 0.13.0.

[2022-11-24 22:15] fmeum commented on #535
I pushed 0.13.1, it should be on Maven Central in a few hours.

[2022-11-24 22:15] #535 closed

[2022-11-25 03:19] t1ucky opened #536 "use jazzer_standalone.jar alone, Could not find or load main class"
I tried to run jazzer_standalone.jar(v0.13.1) on macos_arm64 ,but have some thing wrong,Terminal report:
[code]

[2022-11-25 07:06] fmeum commented on #536
Please use the `jazzer` executable next to it in the release archive to launch Jazzer.

I'll add the ability to launch the jar directly as well. If you don't want to use a native binary, you can already use `com.code-intelligence:jazzer:0.13.1` (with its dependencies) in this way.

[2022-11-25 12:09] #536 closed

[2022-11-28 20:38] stephengardiner opened #538 "JUnit selection of tagged fuzz tests not working"
Hi,

I'm trying to retrofit Jazzer to an existing project (often a mistake!), just to get some familiarity with the software. Having seen that the new Junit jupiter integration is in play, I thought I would try and use that.

So, I have a new fuzz test task in my gradle build script:
`val fuzzTest = task<Test>("fuzztest") {
    description = "Runs fuzz tests."
    group = "verification"

    depen

[2022-11-28 20:39] stephengardiner opened #539 "Junit jupiter not picking up any "jazzer" tagged tests"
Hi,

I'm trying to retrofit Jazzer to an existing project (often a mistake!), just to get some familiarity with the software. Having seen that the new Junit jupiter integration is in play, I thought I would try and use that.

So, I have a new fuzz test task in my gradle build script:
[code]

 and I have tagged my fuzz test with the required tag (which is also included in the @FuzzTest annotation)

[2022-11-28 20:53] #538 closed, assigned to nobody

[2022-11-30 10:43] fmeum commented on #539
I edited your initial comment to fix the formatting: You have to use three backticks instead of just a single one to properly start and end a code block.

As far as I can tell, "tags" are a concept specific to the JUnit Jupiter engine. Jazzer fuzzing runs (`@FuzzTest` run with `JAZZER_FUZZ=1`) are backed by a custom test engine. We are looking into implementing it as part of Jupiter, which I assum

[2022-11-30 11:26] fmeum commented on #539
I stand corrected, tags are a JUnit *platform* feature. Will look into adding support.